@tailwind base;
@tailwind components;
@tailwind utilities;
 

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-cover {
  @apply w-[100vw] h-[100vh] flex relative p-2 md:p-12
}

.elipse1 {
  @apply absolute top-0 left-0 -z-10
}

.elipse2 {
  @apply absolute top-[50%] translate-y-[-50%] right-0 -z-10
}

.elipse3 {
  @apply absolute bottom-0 left-0 -z-10
}

.main-content {
  @apply w-full h-full md:h-[90vh] border-4 border-neutral-900 rounded-3xl px-5 md:px-10 flex flex-col justify-between items-center py-5 md:py-10 lg:py-5
}

.nav-content {
  @apply w-full h-full flex justify-between items-start
}

.menu-content {
  @apply w-full h-full flex justify-evenly items-center
}

.card-content {
  @apply w-full h-full flex justify-center items-end 
}

.card-main {
  @apply w-full h-[6rem] md:h-[8rem] flex justify-around items-center rounded-3xl bg-white shadow-md shadow-black 
}


.btn {
  @apply w-full h-full flex justify-center items-center rounded-3xl outline outline-yellow-300 px-2 py-[2px] md:px-4 md:py-2 text-[10px] md:text-base lg:text-lg
}



